<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdll.antfooder.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.sdll.antfooder.pojo.Address" >
    <id column="address_id" property="addressId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="address_province" property="addressProvince" jdbcType="CHAR" />
    <result column="address_city" property="addressCity" jdbcType="CHAR" />
    <result column="address_area" property="addressArea" jdbcType="CHAR" />
    <result column="address_street" property="addressStreet" jdbcType="VARCHAR" />
    <result column="addressf_status" property="addressfStatus" jdbcType="CHAR" />
    <result column="address_recipients" property="addressRecipients" jdbcType="CHAR" />
    <result column="address_phone" property="addressPhone" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    address_id, user_id, address_province, address_city, address_area, address_street, 
    addressf_status, address_recipients, address_phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from address
    where address_id = #{addressId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from address
    where address_id = #{addressId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.sdll.antfooder.pojo.Address" >
    insert into address (address_id, user_id, address_province, 
      address_city, address_area, address_street, 
      addressf_status, address_recipients, address_phone
      )
    values (#{addressId,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{addressProvince,jdbcType=CHAR}, 
      #{addressCity,jdbcType=CHAR}, #{addressArea,jdbcType=CHAR}, #{addressStreet,jdbcType=VARCHAR}, 
      #{addressfStatus,jdbcType=CHAR}, #{addressRecipients,jdbcType=CHAR}, #{addressPhone,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sdll.antfooder.pojo.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="addressProvince != null" >
        address_province,
      </if>
      <if test="addressCity != null" >
        address_city,
      </if>
      <if test="addressArea != null" >
        address_area,
      </if>
      <if test="addressStreet != null" >
        address_street,
      </if>
      <if test="addressfStatus != null" >
        addressf_status,
      </if>
      <if test="addressRecipients != null" >
        address_recipients,
      </if>
      <if test="addressPhone != null" >
        address_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        #{addressId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="addressProvince != null" >
        #{addressProvince,jdbcType=CHAR},
      </if>
      <if test="addressCity != null" >
        #{addressCity,jdbcType=CHAR},
      </if>
      <if test="addressArea != null" >
        #{addressArea,jdbcType=CHAR},
      </if>
      <if test="addressStreet != null" >
        #{addressStreet,jdbcType=VARCHAR},
      </if>
      <if test="addressfStatus != null" >
        #{addressfStatus,jdbcType=CHAR},
      </if>
      <if test="addressRecipients != null" >
        #{addressRecipients,jdbcType=CHAR},
      </if>
      <if test="addressPhone != null" >
        #{addressPhone,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdll.antfooder.pojo.Address" >
    update address
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="addressProvince != null" >
        address_province = #{addressProvince,jdbcType=CHAR},
      </if>
      <if test="addressCity != null" >
        address_city = #{addressCity,jdbcType=CHAR},
      </if>
      <if test="addressArea != null" >
        address_area = #{addressArea,jdbcType=CHAR},
      </if>
      <if test="addressStreet != null" >
        address_street = #{addressStreet,jdbcType=VARCHAR},
      </if>
      <if test="addressfStatus != null" >
        addressf_status = #{addressfStatus,jdbcType=CHAR},
      </if>
      <if test="addressRecipients != null" >
        address_recipients = #{addressRecipients,jdbcType=CHAR},
      </if>
      <if test="addressPhone != null" >
        address_phone = #{addressPhone,jdbcType=CHAR},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdll.antfooder.pojo.Address" >
    update address
    set user_id = #{userId,jdbcType=CHAR},
      address_province = #{addressProvince,jdbcType=CHAR},
      address_city = #{addressCity,jdbcType=CHAR},
      address_area = #{addressArea,jdbcType=CHAR},
      address_street = #{addressStreet,jdbcType=VARCHAR},
      addressf_status = #{addressfStatus,jdbcType=CHAR},
      address_recipients = #{addressRecipients,jdbcType=CHAR},
      address_phone = #{addressPhone,jdbcType=CHAR}
    where address_id = #{addressId,jdbcType=CHAR}
  </update>
</mapper>