<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdll.antfooder.dao.FoodMapper" >
  <resultMap id="BaseResultMap" type="com.sdll.antfooder.pojo.Food" >
    <id column="food_id" property="foodId" jdbcType="CHAR" />
<!--     <result column="menu_id" property="menuId" jdbcType="CHAR" /> -->
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_price" property="foodPrice" jdbcType="DOUBLE" />
    <result column="food_describe" property="foodDescribe" jdbcType="VARCHAR" />
    <result column="food_photo" property="foodPhoto" jdbcType="VARCHAR" />
    <result column="supply_begin_date" property="supplyBeginDate" jdbcType="VARCHAR" />
    <result column="supply_end_date" property="supplyEndDate" jdbcType="VARCHAR" />
    <result column="supply_begin_time" property="supplyBeginTime" jdbcType="VARCHAR" />
    <result column="supply_end_time" property="supplyEndTime" jdbcType="VARCHAR" />
    <result column="food_state" property="foodState" jdbcType="INTEGER" />
    <result column="food_other" property="foodOther" jdbcType="VARCHAR" />
    <association property="menuId" column="menu_id" jdbcType="CHAR" select="com.sdll.antfooder.dao.MenuMapper.selectByPrimaryKey"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    food_id, menu_id, food_name, food_price, food_describe, food_photo, supply_begin_date, 
    supply_end_date, supply_begin_time, supply_end_time, food_state, food_other
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from food
    where food_id = #{foodId,jdbcType=CHAR}
  </select>
  <!-- 通过menuId查询 -->
  <select id="selectByMenuId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from food
    where menu_id = #{menuId,jdbcType=CHAR} and food_state = 1
  </select>
  
  <!-- 分页查询 -->
  <select id="selectFoodByPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from food
    where food_state = 1
    <if test="menuId != '' and menuId != null">
      and menu_id = #{menuId}
    </if>
    <if test="foodName != '' and foodName !=null">
      and food_name like  concat(concat('%',#{foodName},'%'))
    </if>
      order by menu_id
      limit #{pageIndex},#{pageSize}
  </select> 
   
  <!-- 查询 总记录数-->
  <select id="countFood" resultType="java.lang.Integer" >
    select 
    count(*)
    from food
    where food_state = 1
    <if test="menuId != '' and menuId != null">
      and menu_id = #{menuId}
    </if>
    <if test="foodName != '' and foodName !=null">
      and food_name like  concat(concat('%',#{foodName},'%'))
    </if>
  </select> 
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from food
    where food_id = #{foodId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.sdll.antfooder.pojo.Food" >
    insert into food (food_id, menu_id, food_name, 
      food_price, food_describe, food_photo, 
      supply_begin_date, supply_end_date, supply_begin_time, 
      supply_end_time, food_state, food_other
      )
    values (#{foodId,jdbcType=CHAR}, #{menuId.menuId,jdbcType=CHAR}, #{foodName,jdbcType=VARCHAR}, 
      #{foodPrice,jdbcType=DECIMAL}, #{foodDescribe,jdbcType=VARCHAR}, #{foodPhoto,jdbcType=VARCHAR}, 
      #{supplyBeginDate,jdbcType=VARCHAR}, #{supplyEndDate,jdbcType=VARCHAR}, #{supplyBeginTime,jdbcType=VARCHAR}, 
      #{supplyEndTime,jdbcType=VARCHAR}, #{foodState,jdbcType=INTEGER}, #{foodOther,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sdll.antfooder.pojo.Food" >
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        food_id,
      </if>
      <if test="menuId.menuId != null" >
        menu_id,
      </if>
      <if test="foodName != null" >
        food_name,
      </if>
      <if test="foodPrice != null" >
        food_price,
      </if>
      <if test="foodDescribe != null" >
        food_describe,
      </if>
      <if test="foodPhoto != null" >
        food_photo,
      </if>
      <if test="supplyBeginDate != null" >
        supply_begin_date,
      </if>
      <if test="supplyEndDate != null" >
        supply_end_date,
      </if>
      <if test="supplyBeginTime != null" >
        supply_begin_time,
      </if>
      <if test="supplyEndTime != null" >
        supply_end_time,
      </if>
      <if test="foodState != null" >
        food_state,
      </if>
      <if test="foodOther != null" >
        food_other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="foodId != null" >
        #{foodId,jdbcType=CHAR},
      </if>
      <if test="menuId != null" >
        #{menuId.menuId,jdbcType=CHAR},
      </if>
      <if test="foodName != null" >
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        #{foodPrice,jdbcType=DOUBLE},
      </if>
      <if test="foodDescribe != null" >
        #{foodDescribe,jdbcType=VARCHAR},
      </if>
      <if test="foodPhoto != null" >
        #{foodPhoto,jdbcType=VARCHAR},
      </if>
      <if test="supplyBeginDate != null" >
        #{supplyBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="supplyEndDate != null" >
        #{supplyEndDate,jdbcType=VARCHAR},
      </if>
      <if test="supplyBeginTime != null" >
        #{supplyBeginTime,jdbcType=VARCHAR},
      </if>
      <if test="supplyEndTime != null" >
        #{supplyEndTime,jdbcType=VARCHAR},
      </if>
      <if test="foodState != null" >
        #{foodState,jdbcType=INTEGER},
      </if>
      <if test="foodOther != null" >
        #{foodOther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdll.antfooder.pojo.Food" >
    update food
    <set >
      <if test="menuId.menuId != null" >
        menu_id = #{menuId.menuId,jdbcType=CHAR},
      </if>
      <if test="foodName != null" >
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        food_price = #{foodPrice,jdbcType=DOUBLE},
      </if>
      <if test="foodDescribe != null" >
        food_describe = #{foodDescribe,jdbcType=VARCHAR},
      </if>
      <if test="foodPhoto != null" >
        food_photo = #{foodPhoto,jdbcType=VARCHAR},
      </if>
      <if test="supplyBeginDate != null" >
        supply_begin_date = #{supplyBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="supplyEndDate != null" >
        supply_end_date = #{supplyEndDate,jdbcType=VARCHAR},
      </if>
      <if test="supplyBeginTime != null" >
        supply_begin_time = #{supplyBeginTime,jdbcType=VARCHAR},
      </if>
      <if test="supplyEndTime != null" >
        supply_end_time = #{supplyEndTime,jdbcType=VARCHAR},
      </if>
      <if test="foodState != null" >
        food_state = #{foodState,jdbcType=INTEGER},
      </if>
      <if test="foodOther != null" >
        food_other = #{foodOther,jdbcType=VARCHAR},
      </if>
    </set>
    where food_id = #{foodId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdll.antfooder.pojo.Food" >
    update food
    set menu_id = #{menuId.menuId,jdbcType=CHAR},
      food_name = #{foodName,jdbcType=VARCHAR},
      food_price = #{foodPrice,jdbcType=DOUBLE},
      food_describe = #{foodDescribe,jdbcType=VARCHAR},
      food_photo = #{foodPhoto,jdbcType=VARCHAR},
      supply_begin_date = #{supplyBeginDate,jdbcType=VARCHAR},
      supply_end_date = #{supplyEndDate,jdbcType=VARCHAR},
      supply_begin_time = #{supplyBeginTime,jdbcType=VARCHAR},
      supply_end_time = #{supplyEndTime,jdbcType=VARCHAR},
      food_state = #{foodState,jdbcType=INTEGER},
      food_other = #{foodOther,jdbcType=VARCHAR}
    where food_id = #{foodId,jdbcType=CHAR}
  </update>
</mapper>