<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdll.antfooder.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.sdll.antfooder.pojo.Menu" >
    <id column="menu_id" property="menuId" jdbcType="CHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_photo" property="menuPhoto" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="CHAR" />
    <result column="menu_state" property="menuState" jdbcType="INTEGER" />
    <result column="menu_other" property="menuOther" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, menu_name, menu_photo, menu_type, menu_state, menu_other
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where menu_id = #{menuId,jdbcType=CHAR} and menu_state = 1
  </select>
  <!-- 查询所有的menu -->
  <select id="selectMenu" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where menu_state = 1
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from menu
    where menu_id = #{menuId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.sdll.antfooder.pojo.Menu" >
    insert into menu (menu_id, menu_name, menu_photo, 
      menu_type, menu_state, menu_other
      )
    values (#{menuId,jdbcType=CHAR}, #{menuName,jdbcType=VARCHAR}, #{menuPhoto,jdbcType=VARCHAR}, 
      #{menuType,jdbcType=CHAR}, #{menuState,jdbcType=INTEGER}, #{menuOther,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sdll.antfooder.pojo.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuPhoto != null" >
        menu_photo,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
      <if test="menuState != null" >
        menu_state,
      </if>
      <if test="menuOther != null" >
        menu_other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=CHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPhoto != null" >
        #{menuPhoto,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=CHAR},
      </if>
      <if test="menuState != null" >
        #{menuState,jdbcType=INTEGER},
      </if>
      <if test="menuOther != null" >
        #{menuOther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdll.antfooder.pojo.Menu" >
    update menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPhoto != null" >
        menu_photo = #{menuPhoto,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=CHAR},
      </if>
      <if test="menuState != null" >
        menu_state = #{menuState,jdbcType=INTEGER},
      </if>
      <if test="menuOther != null" >
        menu_other = #{menuOther,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdll.antfooder.pojo.Menu" >
    update menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_photo = #{menuPhoto,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=CHAR},
      menu_state = #{menuState,jdbcType=INTEGER},
      menu_other = #{menuOther,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=CHAR}
  </update>
</mapper>